<div class="center-flex">
  <mat-label>Sign in to the admin page</mat-label>
  <div [formGroup]="loginFormGroup" class="flex-form">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="example@email.com" type="text" formControlName="email" />
      <mat-icon matSuffix style="color:#f02e65;">email</mat-icon>
      <!-- <mat-hint>Enter your email</mat-hint> -->
    </mat-form-field>
  </div>
  <div [formGroup]="loginFormGroup" class="flex-form">
    <mat-form-field appearance="fill" class="flex-form">
      <mat-label>Password</mat-label>
      <input matInput placeholder="password" type="text" formControlName="password" />
      <mat-icon matSuffix style="color:#f02e65;">lock</mat-icon>
      <!-- <mat-hint>Enter your email</mat-hint> -->
    </mat-form-field>
  </div>
</div>
