<div class="center-flex">
  <form>
    <div class="flex-form">
      <mat-label>Ready to blog some blogs?</mat-label>
    </div>
    <div [formGroup]="loginFormGroup" class="flex-form">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="example@email.com" type="email" formControlName="email"
          (onSubmit)="handleLogin()" />
        <mat-icon matSuffix style="color:#f02e65;">email</mat-icon>
      </mat-form-field>
    </div>
    <div [formGroup]="loginFormGroup" class="flex-form">
      <mat-form-field appearance="fill" class="flex-form">
        <mat-label>Password</mat-label>
        <input matInput placeholder="password" type="password" formControlName="password" (onSubmit)="handleLogin()" />
        <mat-icon matSuffix style="color:#f02e65;">lock</mat-icon>
      </mat-form-field>
    </div>
    <div [formGroup]="loginFormGroup" class="flex-form">
      Sign in
      <button mat-icon-button class="login-button" aria-label="Sign in button" (click)="handleLogin()"
        [disabled]="!loginFormGroup.valid">
        <mat-icon>login</mat-icon>
      </button>
    </div>
  </form>
  <div *ngIf="loginFailure">
    Incorrect email or password!
  </div>
</div>
