<div *ngIf="!aws.userAuthorized">
  <div class="container">
    Sign in to blog!
    <button mat-icon-button class="login-button" aria-label="Sign in button" [routerLink]="['/login']">
      <mat-icon>login</mat-icon>
    </button>
  </div>
</div>
<div *ngIf="blog_posts.sum > 0 else noPosts">
  <div *ngFor="let blog of blog_posts.documents | reverse">
    <mat-card>
      <mat-card-title>
        {{blog.title}}
      </mat-card-title>
      <mat-card-subtitle>
        Author: {{blog.author}}
      </mat-card-subtitle>
      <markdown>{{blog.body}}</markdown>
    </mat-card>
  </div>
</div>
<ng-template #noPosts>
  <mat-card>
    <mat-card-title>
      No blog posts yet!
    </mat-card-title>
    <mat-card-subtitle>
      Let's fix that, shall we?
    </mat-card-subtitle>
    <p>
      Head on over to <a href="http://localhost/console" target="_blank">your appwrite console</a> and set up
      your local appwrite project!
    </p>
    <p>
      Then we can get to bloggin'
      <mat-icon>chat</mat-icon>
    </p>
  </mat-card>
</ng-template>
