<div *ngIf="!aws.userAuthorized">
  <div class="container">
    Sign in to blog!
    <button mat-icon-button class="login-button" aria-label="Sign in button" [routerLink]="['/login']">
      <mat-icon>login</mat-icon>
    </button>
  </div>
</div>
<div *ngFor="let blog of blog_posts.documents | reverse">
  <mat-card>
    <mat-card-title>
      {{blog.title}}
    </mat-card-title>
    <mat-card-subtitle>
      Author: {{blog.author}}
    </mat-card-subtitle>
      <markdown>{{blog.body}}</markdown>
  </mat-card>
</div>
