/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #1C223A; color: #fef8fa; }
body { margin: 0; font-family: Poppins, "Helvetica Neue", sans-serif; }
a { color:#f02e65; }
